/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
  min-width: 350px;
}

.akane-paw{
  margin: 0 auto;
}
.akane-paw img{
  width: 36px;
  vertical-align: middle;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.icon-neko-hat{
	transform: rotate(-90deg);
	font-size: 48px !important;
	color: #000000;
}

.akane-neko{
	background-color:#464140 !important;
}
.akane-blue{
	background-color:#79b5e5 !important;
}
.akane-red {
  background-color: #c94547 !important;
}
.akane-red-text {
  color: #c94547 !important;
}
.akane-brown {
  background-color: #e5d6cb !important;
}
.akane-brown-dark {
  background-color: #66514f !important;
}

.page-footer {
  color: #333 !important
}

code{
  background: #F5F5F5;
  padding: 5px;
  border-radius: 2px;
}